.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ffffff;
  -webkit-text-stroke-color: #b3b3b3;
  -webkit-text-stroke-width: 2px;
  transition: color 0.3s;
  margin-right: 5px;
}

.rating label:before {
  content: "\2605";
  font-size: 50px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #f0c726;
  transition: color 0.3s;
  -webkit-text-stroke-width: 0;
}

.btn-close-muted {
  height: 30px;
  width: 30px;
  background-color: #b3b3b3 !important;
  z-index: 2;
}
